<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<p style="font-size: 35pt; margin-left: 40%; margin-top: 35px; font-style: italic; font-family: serif;">Editar Pregunta</p>


<%= render 'form', question: @question %>
